*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.title{
    font-size: 35PX;
}
.navBar{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 143, 34);
    /* overflow: hidden; */
    margin: 0;
}

.navItem{
    /* float: left; */
    padding: 15px;
    background-color: rgb(226, 143, 34);
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
}

.navItem1{
    display: none;
    float: right;
    padding: 15px 30px;
    background-color: rgb(9, 141, 31);
    border-left: 1px solid white;
    color: white;
    text-decoration: none;
}

.navItem:hover{
    background-color: rgb(9, 141, 31);
}

.body{
    display: grid;
    background-color: rgb(241, 252, 252);
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto;
    gap: 30px;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 8px;
}
#cart-list {
  list-style-type: none;
  padding: 0;
}
.mainBody{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    max-width: 100%;
    background-color: rgb(246, 250, 227);
    border: 1px solid rgb(179, 176, 176);
    border-radius: 5px;
    margin-left: 40px;
    padding: 10px;
}

.cardBody{
    background-color: rgb(246, 250, 227);
    border: 1px solid rgb(179, 176, 176);
    border-radius: 5px;
    margin-right: 40px;
    padding: 10px;
}
.bodyItem{
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.footer{
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
    padding: 40px;
    margin: 0;
}

.add{
    background-color:rgb(9, 141, 31);
    border: white 1px solid;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.add:hover{
    background-color: aliceblue;
    color: black;
    border: 1px solid green;
}
.priceAdd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media  (max-width: 1400px) {
    .cardBody{
        display: none;
    }
    .body{
        grid-template-columns: auto;
    }
    .mainBody{
        margin: 20px;
    }
    .navItem1{
        display: block;
    }
}

@media  (max-width:1024px) {
    .mainBody{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media  (max-width:720px) {
    .mainBody{
        grid-template-columns: 1fr;
    }
}